<!--
  Title: Spring Framework Exceptions
  ID: ae48ab93-45f7-4051-9dfe-5d30a3f78e33
  Status: stable
  Level: medium
  Author: Thomas Patzke
  Date: 2017-08-06
  Description: Detects suspicious Spring framework exceptions that could indicate exploitation attempts
-->

<group name="sigma_converted,">
  <rule id="100001" level="5">
    <description>Spring Framework Exceptions</description>
    <match>(\"AccessDeniedException\" OR \"CsrfException\" OR \"InvalidCsrfTokenException\" OR \"MissingCsrfTokenException\" OR \"CookieThef</match>
  </rule>
</group>
